*
{
    padding: 0;
    margin:0;;
}

.gradienttext
{
    background: #121FCF;
background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 3rem !important;
font-weight:900;

}
.headerctrl
{
    position: fixed;width: 100%;margin-bottom: 16px;
}
.ctrlnavbar 
{
  
 
    top: 0;
    left: 0;
   
   
    width: 100%;
 
 
}
.fixed
{
    position: fixed;
}
.contentscroll
{
    margin-top: 52px;
}